// RULES
// 1. Use dashed-compound-words.
// 2. Inception Rule: Do not nest further than 3 levels.
// 3. Keep IDs at top level as much as possible.
// 4. Use descriptive state-based classes.
// 5. List native elements first and classes after.
// 6. DRY: Colors and snippets used more than once should be mixins.
// 7. Use comments with lines of underscores to column 55.

$column-width: 78px;
$gutter-width: 18px;
@import 'util';
@import 'reset';
@import 'modular-scale';
@import 'grid';

$black: rgba(0,0,0,1);
$gold: rgba(255,180,0,1);
$blue: rgba(17, 13, 255, 1);

.pictos {
  font-family: "Pictos";
}

$base-size: 10px 350px;
$alt-size: 8px 40px;

$main-font: "Menlo";
$header-font: "Colaborate-Light";

$base: 18px 150px;

$gold: rgb(209,174,56);

body {
  font-weight: 900;
  background-color: $gold;
  background: url('http://midastou.ch.s3.amazonaws.com/liquid-gold.jpg');
  margin: 0 auto;
}

h1 {
  display: inline-block;
  font-size: ms(10, $base-size, $golden);
  -webkit-transform: rotate(-7deg) skew(-8deg, 0);
  -moz-transform: rotate(-7deg) skew(-8deg, 0);
  -ms-transform: rotate(-7deg) skew(-8deg, 0);
  -o-transform: rotate(-7deg) skew(-8deg, 0);
  transform: rotate(-7deg) skew(-8deg, 0);
  color: white;
  position: relative;
  width: 100%;
  // 3d text from: http://markdotto.com/playground/3d-text/
  text-shadow: 1px 1px 0 #ccc,
                 2px 2px 0 #c9c9c9,
                 3px 3px 0 #bbb,
                 4px 4px 0 #b9b9b9,
                 5px 5px 0 #aaa,
                 6px 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
}

#wrapper {
  @include grid-page(12);
  font-family: $main-font;
}

#header {
  @include grid-row(true);
  @include grid-column(12);
  margin: 2em auto;
  width: 100%;
  padding: 3em 0;
}

#content {
  @include grid-row(true);
}
