html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.pictos {
  font-family: "Pictos"; }

body {
  background-color: #d1ae38;
  background-image: url('../liquid-gold.jpg');
  margin: 0 auto; }

h1 {
  display: inline-block;
  font-size: 111px;
  -webkit-transform: rotate(-7deg) skew(-8deg, 0);
  -moz-transform: rotate(-7deg) skew(-8deg, 0);
  -ms-transform: rotate(-7deg) skew(-8deg, 0);
  -o-transform: rotate(-7deg) skew(-8deg, 0);
  transform: rotate(-7deg) skew(-8deg, 0);
  color: white;
  position: relative;
  width: 100%;
  text-shadow: 1px 1px 0 #cccccc, 2px 2px 0 #c9c9c9, 3px 3px 0 #bbbbbb, 4px 4px 0 #b9b9b9, 5px 5px 0 #aaaaaa, 6px 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  font-weight: 900;
}

#wrapper {
  width: 1152px;
  margin: 0 auto;
  font-family: "Menlo";
  text-align: center;
}

#header {
  width: auto;
  margin: 0 0;
  margin: 0 9px;
  float: left;
  width: 1134px;
  margin: 2em auto;
  width: 100%;
  padding: 3em 0; }

#content {
  width: auto;
  margin: 0 0; }

p {
  margin: 1em auto;
  width: 560px;
}

p, a {
  color: #fff;
  -webkit-text-shadow: 1px 1px 0 #aaa, 2px 2px 0 #999;
  -moz-text-shadow: 1px 1px 0 #aaa, 2px 2px 0 #999;
  text-shadow: 1px 1px 0 #aaa, 2px 2px 0 #999;
}