@mixin border-radius($radius: 8px) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($x: 0, $y: 0, $blur: 0, $color: rgba(0,0,0,1), $inset: '') {
  -webkit-box-shadow: $x $y $blur $color $inset;
}

@mixin header-font {
  font-family: "Colaborate-Light";
}
@mixin mono-font {
  font-family: "Menlo", "Monaco", monospace;
}
